PORT= < server port>
DB_URL= < mongo db connection url>
jsonToken= <json token for encyption>
ENCRPT_ROUND= <  salt rounds >
INVITE_CODE= <invite code for agent and supervisor>
ADMIN_USER= <secret key for admin>